
    // PRIMARY //
$clr-100 : hsl(0, 78%, 62%);
$clr-200 : hsl(180, 62%, 55%);
$clr-300 : hsl(34, 97%, 64%);
$clr-400 : hsl(212, 86%, 64%);
    // NEUTRAL //
$clr-500 : hsl(234, 12%, 34%);
$clr-600 : hsl(229, 6%, 66%);
$clr-700 : hsl(0, 0%, 98%);

$ff-100 : 'Poppins', sans-serif;

$fs-100 : 15px ;

$fw-1 : 100; $fw-2 : 200; $fw-3 : 300; $fw-4 : 400; $fw-5 : 500; $fw-6 : 600; $fw-7 : 700; $fw-8 : 800; $fw-9 : 900;

$flx : flex; $grd : grid ;
$cntr : center; $strt : start; $end : end; $btwn : space-between; $arnd : space-around; $evnly : space-evenly;

